<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="QRCoder" version="1.3.4" targetFramework="net452" />
  <package id="QRCoder.Unity" version="1.0.1" targetFramework="net452" />
  <package id="RestSharp" version="106.11.7" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net452" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net452" />
</packages>